@charset "UTF-8";

	@font-face {
	    font-family: 'NanumSquareNeo-Variable';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
	    font-weight: normal;
	    font-style: normal;
	}
	*{
		font-family: 'NanumSquareNeo-Variable';
		list-style: none;
	}
	body{
		background-color: #e8eef2 !important;
		height: 100%;
	}
	
	/* 공통 바디 */
	#app{
		width: 1600px;
 		height: 850px; 
		margin: 35px auto 25px;
		border-radius: 50px;
		background-color: white;
		box-shadow: 15px 15px 15px rgb(0 0 0 / 20%);
	}
	#logo{
		display: block;
		margin: 0 auto;
		width: 60px;	
	}
	#logo img{
		width: 60px;
		height: 60px;
	}
	
	/* 좌측 메뉴 */
	#lnb .menu-icon{
		width: 40px;
	}
	#lnb{
		width: 10%;
		padding-top: 45px;
	}
	#main{
		/* background-color: #f8fafb; */
		background-color: #f3f6f7d6;
		width: 90%;
		height: 820px;
		margin: 15px 15px 15px 0;
		border-radius: 50px;
	}
	#menu-bar{
		padding: 0;
		margin: 0;
		height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 70px;
	}
	#menu-bar li{
		text-align: center; 
		margin: 20px 0;
	}
	#menu-bar .icon-box{
		height: 65px;
	    line-height: 60px;
	    width: 65px;
	    display: inline-block;
	    border-radius: 15px;
	}
	
	/* 수정,삭제,상세보기 아이콘 */
	.action-icon{
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.title{
		margin: 30px; /* 20 -> 30으로 수정 */
	}
	.title h1{  /* 추가했음 */
		font-weight: bold;
	}
	#title-action-box{
		display: inline-block;
		float: right;
	} 
	
	.content{
		margin: 10px;
		margin-left: 40px;
	}
	
	/* 페이징 버튼 */
	
	#page-box{
		margin-top: 15px;
		text-align: center;
	}
	#page-box .page-button{
		text-decoration: none;
		border: 1px solid #d8d3d3;
	    display: inline-block;
	    width: 25px;
	    border-radius: 5px;
	    color: black;
	    font-weight: bold;
	    background-color: white;
	}
	#page-box .this-page{
		color: white;
		background-color: #79c2cc;
	}
	
	
	/* 에러메세지 */
	.error-message{
		color: red;
	}
	
	/* 저장버튼, 취소버튼 */
	.submit-btn{
		border: 1px solid #d8d3d3;
	    border-radius: 5px;
	    font-weight: bold;
	  		background-color: #79c2cc;
		color: white;
	}
	.reset-btn{
		border: 1px solid #d8d3d3;
	    border-radius: 5px;
	    font-weight: bold;
	}
	
	/* 모달 */
	.modal-body table th{
		text-align: center;
	}	
	.modal-footer .submit-btn, .modal-footer .reset-btn{
		width: 50px;
		height: 35px;
	}
	
	/* 타이틀 안 검색, 등록 박스*/
	#title-action-box{
		font-size: 16px;
		height: 100%;
		position: relative;
	}
	#title-action-box #search-box{
		display: none;
		position: absolute;
		width: 700px;
		right: 38px;
	    bottom: -80px;
	    border: 1px solid black;
	    background-color: white;
	    padding: 10px 15px;
	}
	#title-action-box #search-box{
		border-radius: 15px;
		/*#0CA3B9  */
	}
	#title-action-box #search-box input{
		width: 150px;
		height: 30px;
		line-height: normal;
	}
	#title-action-box{
		line-height: 48px;
	}
	#title-action-box table{
		width: 100%;
	}
	#title-action-box table td{
		text-align: right;
		padding-top: 15px;
	}
	#title-action-box #search-action input{
		width: 50px;
	    line-height: normal;
	    border: 1px solid #d8d3d3;
	    border-radius: 5px;
	    font-weight: bold;
	}
	#title-action-box #search-action input[type="submit"]{
		margin-right: 5px;
	}
	
	#title-action-box .insert-btn{
		width: 30px;
		height: 30px;
		line-height: normal;
	    border: 1px solid #d8d3d3;
		border-radius: 6px;
		font-weight: bold;
		background-color: #acb9c7;
		color: white;
		margin-left: 10px;
	}
	#title-action-box .insert-btn:hover {
		background-color: #79c2cc;
	}