@charset "UTF-8";

	@font-face {
	    font-family: 'NanumSquareNeo-Variable';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
	    font-weight: normal;
	    font-style: normal;
	}
	*{
		font-family: 'NanumSquareNeo-Variable';
		list-style: none;
	}
	body{
		background-color: #e8eef2 !important;
		height: 100%;
	}
	
	/* 공통 바디 */
	#app{
		width: 1600px;
 		height: 850px; 
		margin: 35px auto 25px;
		border-radius: 50px;
		background-color: white;
		box-shadow: 15px 15px 15px rgb(0 0 0 / 20%);
	}
	#logo{
		display: block;
		margin: 0 auto;
		width: 60px;	
	}
	#logo img{
		width: 60px;
		height: 60px;
	}
	#lnb .menu-icon{
		width: 40px;
	}
	#lnb{
		width: 10%;
		padding-top: 45px;
	}
	#main{
		/* background-color: #f8fafb; */
		background-color: #f3f6f7d6;
		width: 90%;
		height: 820px;
		margin: 15px 15px 15px 0;
		border-radius: 50px;
	}
	#menu-bar{
		padding: 0;
		margin: 0;
		height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 70px;
	}
	#menu-bar li{
		text-align: center; 
		margin: 20px 0;
	}
	#menu-bar .icon-box{
		height: 65px;
	    line-height: 60px;
	    width: 65px;
	    display: inline-block;
	    border-radius: 15px;
	}
	
	
	.action-icon{
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.title{
		margin: 30px; /* 20 -> 30으로 수정 */
	}
	.title h1{  /* 추가했음 */
		font-weight: bold;
	}
	#title-action-box{
		display: inline-block;
		float: right;
	} 
	
	.content{
		margin: 10px;
		margin-left: 40px;
	}
	
	/* 페이징 버튼 */
	
	#page-box{
		margin-top: 15px;
		text-align: center;
	}
	#page-box .page-button{
		text-decoration: none;
		border: 1px solid #d8d3d3;
	    display: inline-block;
	    width: 25px;
	    border-radius: 5px;
	    color: black;
	    font-weight: bold;
	    background-color: white;
	}
	#page-box .this-page{
		color: white;
		background-color: #79c2cc;
	}
		