<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.myapp.dao.IBatchDao">
  
  <select id="getTotalGroupNum" resultType="int">
    SELECT count(*) FROM bat_grp
  </select>
  
  <select id="getBatGrpListByPage" parameterType="Pager" resultType="BatGrp">
  	SELECT b.rnum,
  		   b.bat_grp_id as "batGrpId", 
    	   b.bat_grp_nm as "batGrpNm", 
    	   b.bat_grp_dsc as "batGrpDsc", 
    	   b.host_id as "hostId", 
    	   h.host_nm as "hostNm", 
    	   h.host_ip as "hostIp", 
    	   h.host_pt as "hostPt", 
    	   b.auto_excn_yn as "autoExcnYn", 
    	   b.cron as "cron",
    	   b.cron_dsc as "cronDsc"
	FROM ( 
	  SELECT ROWNUM as rnum, bat_grp_id, bat_grp_nm, bat_grp_dsc, host_id, auto_excn_yn, cron, cron_dsc, use_yn 
      FROM ( 
      	SELECT 
      		bat_grp_id, 
      		bat_grp_nm, 
      		bat_grp_dsc, 
      		host_id, 
      		auto_excn_yn, 
      		cron,
      		cron_dsc,
      		use_yn
        FROM 
        	bat_grp 
        ORDER BY bat_grp_id desc
        ) 
      WHERE rownum &lt;= #{endRowNo}
    ) b LEFT OUTER JOIN host h ON b.host_id=h.host_id 
	WHERE b.use_yn='Y' and b.rnum &gt;= #{startRowNo}
  </select>
  
  <select id="getBatGrpDetail" parameterType="String" resultType="BatGrp">
  	SELECT b.bat_grp_id as "batGrpId", 
    	   b.bat_grp_nm as "batGrpNm", 
    	   b.bat_grp_dsc as "batGrpDsc", 
    	   b.host_id as "hostId", 
    	   h.host_nm as "hostNm", 
    	   h.host_ip as "hostIp", 
    	   h.host_pt as "hostPt", 
    	   b.auto_excn_yn as "autoExcnYn", 
    	   b.cron as "cron",
    	   b.cron_dsc as "cronDsc"
    FROM bat_grp b LEFT OUTER JOIN host h ON b.host_id=h.host_id 
    WHERE b.use_yn='Y' and b.bat_grp_id=#{grpId}
  </select>
  
  
  <insert id="insertBatGrp" parameterType="BatGrp">
  	INSERT INTO bat_grp(bat_grp_id, bat_grp_nm, bat_grp_dsc, host_id, auto_excn_yn, cron, cron_dsc, last_mdfr_nm, last_mdfcn_dttm) 
  	VALUES('BGR'||LPAD(SEQ_BAT_GROUP.NEXTVAL, 8, '0'), #{batGrpNm}, #{batGrpDsc}, #{hostId}, #{autoExcnYn}, #{cron}, #{cronDsc}, 'admin', sysdate)
  </insert>
  
  <update id="updateBatGrp" parameterType="BatGrp">
  	UPDATE 
  		bat_grp
  	SET
  		bat_grp_nm = #{batGrpNm}, 
    	bat_grp_dsc = #{batGrpDsc}, 
    	host_id = #{hostId}, 
    	auto_excn_yn = #{autoExcnYn}, 
    	cron = #{cron},
    	cron_dsc = #{cronDsc},
    	last_mdfr_nm = 'admin',
    	last_mdfcn_dttm = sysdate
  	WHERE bat_grp_id = #{batGrpId}
  </update>
  <update id="deleteBatGrp" parameterType="String">
  	UPDATE
  		bat_grp
  	SET
  		use_yn = 'N'
    	last_mdfcn_dttm = sysdate
  	WHERE bat_grp_id = #{grpId}
  </update>

  <select id="searchBatGrp" parameterType="map" resultType="BatGrp">
  	SELECT b.rnum,
  		   b.bat_grp_id as "batGrpId", 
    	   b.bat_grp_nm as "batGrpNm", 
    	   b.bat_grp_dsc as "batGrpDsc", 
    	   b.host_id as "hostId", 
    	   h.host_nm as "hostNm", 
    	   h.host_ip as "hostIp", 
    	   h.host_pt as "hostPt", 
    	   b.auto_excn_yn as "autoExcnYn", 
    	   b.cron as "cron",
    	   b.cron_dsc as "cronDsc"
	FROM ( 
	  SELECT ROWNUM as rnum, bat_grp_id, bat_grp_nm, bat_grp_dsc, host_id, auto_excn_yn, cron, cron_dsc, use_yn 
      FROM ( 
      	SELECT 
      		bat_grp_id, 
      		bat_grp_nm, 
      		bat_grp_dsc, 
      		host_id, 
      		auto_excn_yn, 
      		cron,
      		cron_dsc,
      		use_yn
        FROM 
        	bat_grp 
        ORDER BY bat_grp_id desc
        ) 
      WHERE rownum &lt;= #{pager.endRowNo}
    ) b LEFT OUTER JOIN host h ON b.host_id=h.host_id 
	WHERE b.use_yn='Y' and b.rnum &gt;= #{pager.startRowNo} 
		and <foreach item="item" index="index" collection="filtering" separator="or" open="(" close=")">
  			<choose>
				<when test="item == 'ID'.toString()">
					b.bat_grp_id like '%'||#{keyword}||'%'
				</when>
				<when test="item == 'NAME'.toString()">
					b.bat_grp_nm like '%'||#{keyword}||'%'
				</when>
				<when test="item == 'DSC'.toString()">
					b.bat_grp_dsc like '%'||#{keyword}||'%'
				</when>
				<when test="item == 'HNM'.toString()">
					h.host_nm like '%'||#{keyword}||'%'
				</when>
				<when test="item == 'HPT'.toString()">
					h.host_pt like '%'||#{keyword}||'%'
				</when>
			</choose>
  		</foreach>
  </select>
  
  <select id="getTotalSearchNum" parameterType="map" resultType="int">
  	SELECT COUNT(*) 
  		FROM bat_grp b LEFT OUTER JOIN host h 
  			ON b.host_id=h.host_id  
  		WHERE b.use_yn='Y' and <foreach item="item" index="index" collection="filtering" separator="or">
  			<choose>
				<when test="item == 'ID'.toString()">
					b.bat_grp_id like '%'||#{keyword}||'%'
				</when>
				<when test="item == 'NAME'.toString()">
					b.bat_grp_nm like '%'||#{keyword}||'%'
				</when>
				<when test="item == 'DSC'.toString()">
					b.bat_grp_dsc like '%'||#{keyword}||'%'
				</when>
				<when test="item == 'HNM'.toString()">
					h.host_nm like '%'||#{keyword}||'%'
				</when>
				<when test="item == 'HPT'.toString()">
					h.host_pt like '%'||#{keyword}||'%'
				</when>
			</choose>
  		</foreach>
  </select>
  
  <select id="getBatGrpList" resultType="BatGrp">
  	SELECT bat_grp_id as "batGrpId",
  			bat_grp_nm as "batGrpNm",
  			bat_grp_dsc as "batGrpDsc"
  	 FROM bat_grp
  	 WHERE use_yn='Y'
  </select>
  
  <select id="getBatPrmList" parameterType="String" resultType="BatPrm">
  	SELECT bat_prm_id as "batPrmId",
  			bat_prm_nm as "batPrmNm",
  			path,
  			excn_ord as "excnOrd",
  			param,
  			param_dsc as "paramDsc"
	FROM bat_prm
	WHERE use_yn='Y' and bat_grp_id = #{grpId}
	ORDER BY excn_ord
  </select>
  
  <select id="getBatPrmDetail" parameterType="String" resultType="BatPrm">
  	SELECT bat_prm_id as "batPrmId",
  			bat_grp_id as "batGrpId",
  			bat_prm_nm as "batPrmNm",
  			path,
  			excn_ord as "excnOrd",
  			param,
  			param_dsc as "paramDsc"
	FROM bat_prm
	WHERE use_yn='Y' and bat_prm_id = #{prmId}
  </select>
  <insert id="insertBatPrm" parameterType="BatPrm">
  	INSERT INTO bat_prm(bat_prm_id, bat_grp_id, bat_prm_nm, path, excn_ord, param, param_dsc, last_mdfr_nm, last_mdfcn_dttm)
  	VALUES ('PRM'||LPAD(SEQ_BAT_PRM.NEXTVAL, 8, '0'), #{batGrpId}, #{batPrmNm}, #{path}, #{excnOrd}, #{param}, #{paramDsc}, 'admin', sysdate)
  </insert>
  <update id="updateBatPrm" parameterType="BatPrm">
  	UPDATE 
  		bat_prm
  	SET
		bat_grp_id = #{batGrpId}
		bat_prm_nm = #{batPrmNm},
		path = #{path},
		excn_ord = #{excnOrd},
		param = #{param},
		param_dsc = #{paramDsc},
  		last_mdfcn_dttm = sysdate
	WHERE
		bat_prm_id = #{batPrmId}
  </update>
  <update id="deleteBatPrm" parameterType="String">
  	UPDATE
  		bat_prm
  	SET
  		use_yn = 'N',
  		excn_ord = 0,
  		last_mdfcn_dttm = sysdate
  	WHERE bat_prm_id = #{batPrmId}
  </update>
  <update id="sortByRownum" parameterType="String">
  	UPDATE 
  		bat_prm a
	SET
		a.excn_ord = 	
			(SELECT c.rnum 
			FROM (SELECT ROWNUM as rnum, b.* 
     				FROM bat_prm b 
     				WHERE b.use_yn = 'Y' and b.bat_grp_id = #{grpId}
     				ORDER BY b.excn_ord) c
     		WHERE a.bat_prm_id=c.bat_prm_id)
	WHERE a.use_yn = 'Y' and a.bat_grp_id = #{grpId}
  </update>
  
  <select id="getLastExcnOrd" parameterType="String">
  	SELECT DISTINCT LAST_VALUE(excn_ord) 
  	OVER (PARTITION BY bat_grp_id ORDER BY bat_grp_id) 
  	FROM bat_prm 
	WHERE use_yn = 'Y' AND bat_grp_id = #{grpId};
  </select>
  
  <update id="sortByUsers" parameterType="BatPrm">
  	UPDATE
  		bat_prm
  	SET
  		excn_ord = #{excnOrd}
  	WHERE
  		bat_prm_id = #{batPrmId}
  </update>
</mapper>