<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.myapp.dao.IHostDao">

   <select id="getHostCount" parameterType="com.company.myapp.dto.Host" resultType="int">
      SELECT count(*) 
      FROM 
      	host
      WHERE
      	use_yn = 'Y'
      
   </select>
	
   <select id="getHostList" resultType="Host">
   	  SELECT 
  		host_id as hostId,
  		host_ip as hostIp,
  		host_pt as hostPt,
  		host_nm as hostNm
   	  FROM
   	  	host	
   	  WHERE
   	  	use_yn = 'Y'	
   </select>
	
   <select id="getHostListByPage" parameterType="Pager" resultType="Host">
      SELECT    
   		rnum,                
        host_id as hostId, 
        host_ip as hostIp, 
        host_pt as hostPt, 
        host_nm as hostNm, 
        use_yn as useYn, 
        last_mdfr_nm as lastMdfrNm, 
        last_mdfcn_dttm as lastMdfcnDttm
      FROM (
        SELECT ROWNUM as rnum, host_id, host_ip, host_pt, host_nm, use_yn, last_mdfr_nm, last_mdfcn_dttm
        FROM (
           SELECT 
               host_id,
            host_ip,
            host_pt, 
            host_nm, 
            use_yn, 
            last_mdfr_nm, 
            last_mdfcn_dttm
         FROM
            host
         WHERE 
            use_yn = 'Y'
         ORDER BY host_id
        )
        WHERE rownum &lt;= #{endRowNo}  
      )
      WHERE rnum &gt;= #{startRowNo}
   </select>
   
   <select id="getHostDetail" parameterType="String" resultType="Host">
      SELECT 
         host_id as hostId, 
         host_ip as hostIp, 
         host_pt as hostPt, 
         host_nm as hostNm, 
         use_yn as useYn, 
         last_mdfr_nm as lastMdfrNm, 
         last_mdfcn_dttm as lastMdfcnDttm
      FROM
         host
      WHERE
      	 use_yn = 'Y'
      AND	  
         host_id = #{hostId}         
   </select>
   
   <insert id="insertHost" parameterType="Host">
      INSERT INTO HOST(host_id, host_ip, host_pt, host_nm, last_mdfr_nm, last_mdfcn_dttm)
      VALUES('HOST'||LPAD(SEQ_HOST.NEXTVAL, 8, '0'), #{hostIp}, #{hostPt}, #{hostNm}, 'admin', sysdate)
   </insert>
   
   <update id="updateHost" parameterType="Host">
      UPDATE 
         host
      SET 
         host_ip = #{hostIp},
         host_pt = #{hostPt},
         host_nm = #{hostNm},
         last_mdfcn_dttm = sysdate
      WHERE
         host_id = #{hostId}
   </update>
   
   <update id="deleteHost" parameterType="String">
      UPDATE 
      	host
      SET 
      	use_yn = 'N'	
      WHERE host_id = #{hostId}
   </update>
   
   <select id="getHostByBatGrpId" parameterType="String" resultType="Host">
      SELECT DISTINCT
      	h.host_id as hostId, 
      	h.host_nm as hostNm, 
      	h.host_ip as hostIp,
      	h.host_pt as hostPt 		
      FROM 
      	host h
      JOIN
      	bat_grp bg
      ON
      	h.host_id = bg.host_id
      WHERE			
      	bg.bat_grp_id = #{batGrpId}
   </select>
   
   <select id="searchHost" parameterType="map" resultType="Host">
      SELECT    
   		rnum,                
        host_id as hostId, 
        host_ip as hostIp, 
        host_pt as hostPt, 
        host_nm as hostNm, 
        use_yn as useYn, 
        last_mdfr_nm as lastMdfrNm, 
        last_mdfcn_dttm as lastMdfcnDttm
      FROM (
        SELECT ROWNUM as rnum, host_id, host_ip, host_pt, host_nm, use_yn, last_mdfr_nm, last_mdfcn_dttm
        FROM (
           SELECT 
               host_id,
            host_ip,
            host_pt, 
            host_nm, 
            use_yn, 
            last_mdfr_nm, 
            last_mdfcn_dttm
         FROM
            host
         WHERE 
            use_yn = 'Y'
       	<if test="host.hostId != null and host.hostId != ''">
    		AND	host_id like '%'||#{host.hostId}||'%'	
    	</if>   
    	<if test="host.hostIp != null and host.hostIp != ''">
    		AND	host_ip like '%'||#{host.hostIp}||'%' 
     	</if>   
  	    <if test="host.hostNm != null and host.hostNm != ''">
  	 		AND	host_nm like '%'||#{host.hostNm}||'%'
   	 	</if>
         ORDER BY host_id
        )
        WHERE rownum &lt;= #{pager.endRowNo}  
      )
      WHERE rnum &gt;= #{pager.startRowNo} 
   </select>
   
   <select id="getHostCountBySearch" parameterType="Host" resultType="int">
      SELECT 
      	count(*) 
      FROM 
      	host
      WHERE 
      	use_yn = 'Y' 
      <if test="hostId != null">
      	AND
      		host_id like '%'||#{hostId}||'%'	
      </if>   
      <if test="hostIp != null">
      	AND
      		host_ip like '%'||#{hostIp}||'%' 
      </if>   
      <if test="hostNm != null">
      	AND 
      		host_nm like '%'||#{hostNm}||'%'
      </if>       		    
   </select>
</mapper>