<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.myapp.dao.ILogDao">

	<select id="getBatGrpLogDetail" parameterType="map" resultType="BatGrpLog">
		SELECT
		    bat_grp_log_id as batGrpLogId,
		    bat_grp_rty_cnt as batGrpRtyCnt,
		    bat_grp_id as batGrpId,
		    bat_grp_st_cd as batGrpStCd,
		    bat_bgng_dt as batBgngDt,
		    bat_end_dt as batEndDt
		FROM
			bat_grp_log
		WHERE
			bat_grp_log_id = #{batGrpLogId}
		AND
			bat_grp_rty_cnt = #{batGrpRtyCnt}	
	</select> 
	  
	<select id="getBatGrpLogDetailList" parameterType="String" resultType="BatGrpLog">
		SELECT
		    bat_grp_log_id as batGrpLogId,
		    bat_grp_rty_cnt as batGrpRtyCnt,
		    bat_grp_id as batGrpId,
		    bat_grp_st_cd as batGrpStCd,
		    bat_bgng_dt as batBgngDt,
		    bat_end_dt as batEndDt
		FROM
			bat_grp_log
		WHERE
			bat_grp_log_id = #{batGrpLogId}
		ORDER BY
			bat_grp_rty_cnt	
	</select> 
	  
	<select id="getBatPrmLogDetail" parameterType="map" resultType="BatPrmLog">
		SELECT 
			pl.bat_grp_log_id as batGrpLogId,
			pl.bat_grp_rty_cnt as batGrpRtyCnt,
			pl.bat_prm_id as batPrmId,
			pl.param,
			pl.bat_prm_st_cd as batPrmStCd,
			pl.rslt_msg as rsltMsg,
			pl.bat_bgng_dt as batBgngDt,
			pl.bat_end_dt as batEndDt,
			pl.excn_ord as excnOrd,
			p.bat_prm_nm as batPrmNm
		FROM
			bat_prm_log pl
		JOIN
			bat_prm p
		ON
			pl.bat_prm_id = p.bat_prm_id
		WHERE
			bat_grp_log_id = #{batGrpLogId}
		AND
			bat_grp_rty_cnt = #{batGrpRtyCnt}
		AND
			pl.bat_prm_id = #{batPrmId}		
	</select>
	
	<insert id="insertBatGrpLog" parameterType="BatGrpLog">
		<selectKey keyProperty="batGrpLogId" resultType="String" order="BEFORE">
			SELECT 'BGL'||LPAD(SEQ_BAT_GRP_LOG.NEXTVAL, 8, '0') FROM DUAL
		</selectKey>
	
		INSERT INTO bat_grp_log(
			bat_grp_log_id, bat_grp_rty_cnt, bat_grp_id, bat_grp_st_cd, 
        	bat_bgng_dt, last_mdfr_nm, last_mdfcn_dttm, frst_reg_nm, frst_reg_dttm
		)
		VALUES(
			#{batGrpLogId}, #{batGrpRtyCnt}, #{batGrpId}, #{batGrpStCd},
			sysdate ,'system', sysdate, 'system', sysdate			
		)
	</insert>
	  
	<insert id="insertBatPrmLog" parameterType="BatPrmLog">
		INSERT INTO bat_prm_log(
			bat_grp_log_id, bat_grp_rty_cnt, bat_prm_id, param, bat_prm_st_cd,
			excn_ord, last_mdfr_nm, last_mdfcn_dttm, frst_reg_nm, frst_reg_dttm
		)
		VALUES(
			#{batGrpLogId}, #{batGrpRtyCnt}, #{batPrmId}, #{param}, #{batPrmStCd},
			#{excnOrd}, 'system', sysdate, 'system', sysdate
		)
	</insert>  
	
	<update id="updateBatGrpLog" parameterType="BatGrpLog">
		UPDATE 
			bat_grp_log
		SET
			bat_grp_st_cd = #{batGrpStCd},
			bat_end_dt = #{batEndDt},
			last_mdfcn_dttm = sysdate
		WHERE
			bat_grp_log_id = #{batGrpLogId}
		AND
			bat_grp_rty_cnt = #{batGrpRtyCnt}			
	</update>
	
	<update id="updateBatPrmLog" parameterType="BatPrmLog">
		UPDATE 
			bat_prm_log
		SET
			bat_prm_st_cd = #{batPrmStCd},
			rslt_msg = #{rsltMsg},
			bat_bgng_dt = #{batBgngDt},
			bat_end_dt = #{batEndDt},
			last_mdfcn_dttm = sysdate
		WHERE
			bat_grp_log_id = #{batGrpLogId}
		AND
			bat_grp_rty_cnt = #{batGrpRtyCnt}
		AND
			bat_prm_id = #{batPrmId}							
	</update>
	
	<select id="getBatPrmLogByFirstFail" parameterType="BatGrpLog" resultType="BatPrmLog">
		SELECT 
			bat_grp_log_id as batGrpLogId,
			bat_grp_rty_cnt as batGrpRtyCnt,
			bat_end_dt as batEndDt
		FROM 
			bat_prm_log 
		WHERE 
			bat_grp_log_id = #{batGrpLogId} 
		AND 
			bat_grp_rty_cnt = #{batGrpRtyCnt} 
		AND 
			excn_ord = (select min(excn_ord) from bat_prm_log where bat_prm_st_cd = #{batGrpStCd} and bat_grp_log_id = #{batGrpLogId} AND bat_grp_rty_cnt = #{batGrpRtyCnt})
	</select>
	
	<select id="getRtyCnt" parameterType="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			bat_grp_log
		WHERE
			bat_grp_log_id = #{batGrpLogId}
	</select>
	
	<insert id="insertRtyBatGrpLog" parameterType="BatGrpLog">
		INSERT INTO bat_grp_log(
			bat_grp_log_id, bat_grp_rty_cnt, bat_grp_id, bat_grp_st_cd, 
        	bat_bgng_dt, last_mdfr_nm, last_mdfcn_dttm, frst_reg_nm, frst_reg_dttm
		)
		VALUES(
			#{batGrpLogId}, #{batGrpRtyCnt}, #{batGrpId}, #{batGrpStCd},
			sysdate, 'system', sysdate, 'system', sysdate
		)	
	</insert>
	
	<select id="getRtyBatGrpLogListByLogId" parameterType="String" resultType="BatGrpLog">
		SELECT /* LogMapper.getRtyBatGrpLogListByLogId */
		    bat_grp_log_id as batGrpLogId,
		    bat_grp_rty_cnt as batGrpRtyCnt,
		    bat_grp_id as batGrpId,
		    bat_grp_st_cd as batGrpStCd,
		    bat_bgng_dt as batBgngDt,
		    bat_end_dt as batEndDt
		FROM
			bat_grp_log
		WHERE
			bat_grp_log_id = #{batGrpLogId}
		AND
			bat_grp_rty_cnt >= 1
	</select>
	
	<select id="getRtyPrmListByLogIdNCnt" parameterType="map" resultType="BatPrmLog">
		SELECT
			bat_grp_log_id as batGrpLogId,
			bat_grp_rty_cnt as batGrpRtyCnt,
			bat_prm_id as batPrmId,
			param,
			bat_prm_st_cd as batPrmStCd,
			rslt_msg as rsltMsg,
			bat_bgng_dt as batBgngDt,
			bat_end_dt as batEndDt,
			excn_ord as excnOrd
		FROM 
			bat_prm_log
		WHERE
			bat_grp_log_id = #{logId}
		AND
			bat_grp_rty_cnt = #{rty}		
	</select>
	
	<select id="getBatGrpLogCount" parameterType="BatGrpLog" resultType="int">
		SELECT 
			count(*)
	    FROM 
	    	(
	        SELECT 
	            bat_grp_log_id, max(bat_grp_rty_cnt)
	        FROM 
	            bat_grp_log 
	        <trim prefix="WHERE" prefixOverrides="AND">
				<if test="batGrpLogId != null">
					AND
						bat_grp_log_id like #{batGrpLogId}||'%'	
				</if>		
				<if test="batGrpId != null">
					AND
						bat_grp_id like '%'||#{batGrpId}||'%'	
				</if>		
				<if test="batGrpStCd != null">
					AND
						bat_grp_st_cd like '%'||#{batGrpStCd}||'%'	
				</if>		
				<if test="batBgngDtStart != null and batBgngDtEnd != null and batEndDtStart != null and batEndDtEnd != null">
			 		<if test="batBgngDtStart != '' and batBgngDtEnd == ''">
						AND
							to_char(bat_bgng_dt, 'yyyy-mm-dd hh24:mi') &gt;= #{batBgngDtStart}	
					</if>		        	
					<if test="batBgngDtStart == '' and batBgngDtEnd != ''">
						AND
							to_char(bat_bgng_dt, 'yyyy-mm-dd hh24:mi') &lt;= #{batBgngDtEnd}	
					</if>		        	
					<if test="batBgngDtStart != '' and batBgngDtEnd != ''">
						AND
							to_char(bat_bgng_dt, 'yyyy-mm-dd hh24:mi') between #{batBgngDtStart} and #{batBgngDtEnd}	
					</if>
					<if test="batEndDtStart != '' and batEndDtEnd != ''">
						AND
							to_char(bat_end_dt, 'yyyy-mm-dd hh24:mi') between #{batEndDtStart} and #{batEndDtEnd}	
					</if>		        	
					<if test="batEndDtStart != '' and batEndDtEnd == ''">
						AND
							to_char(bat_end_dt, 'yyyy-mm-dd hh24:mi') &gt;= #{batEndDtStart}	
					</if>		        	
					<if test="batEndDtStart == '' and batEndDtEnd != ''">
						AND
							to_char(bat_end_dt, 'yyyy-mm-dd hh24:mi') &lt;= #{batEndDtEnd}	
					</if>
				</if>
				<if test="(batBgngDtStart == null and batBgngDtEnd == null and batEndDtStart == null and batEndDtEnd == null) 
						or (batBgngDtStart == '' and batBgngDtEnd == '' and batEndDtStart == '' and batEndDtEnd == '')">
					AND
						to_char(last_mdfcn_dttm, 'yyyymmdd') >= to_char(sysdate-7, 'yyyymmdd')
				</if>
				</trim>
			GROUP BY
        		bat_grp_log_id 
			ORDER BY 
        		bat_grp_log_id DESC
        	)
	</select>
	
	<select id="getBatGrpLogList" parameterType="map" resultType="BatGrpLog">
		SELECT 
		    rnum,
		    bat_grp_log_id as batGrpLogId,
		    bat_grp_rty_cnt as batGrpRtyCnt,
		    bat_grp_id as batGrpId,
		    bat_grp_st_cd as batGrpStCd,
		    bat_bgng_dt as batBgngDt,
		    bat_end_dt as batEndDt,
		    bat_grp_nm as batGrpNm
		FROM (
		    SELECT 
		        ROWNUM as rnum, bat_grp_log_id, bat_grp_rty_cnt, bat_grp_id, 
		        bat_grp_st_cd, bat_bgng_dt, bat_end_dt, last_mdfr_nm, last_mdfcn_dttm, bat_grp_nm
		    FROM (
		        SELECT 
		            l.bat_grp_log_id, l.bat_grp_rty_cnt, l.bat_grp_id, 
		            l.bat_grp_st_cd, l.bat_bgng_dt, l.bat_end_dt, l.last_mdfr_nm, l.last_mdfcn_dttm, bat_grp_nm
		        FROM 
		            bat_grp_log l
				JOIN
		        	bat_grp g
		        ON
		        	l.bat_grp_id = g.bat_grp_id
		        WHERE 
	            	(bat_grp_log_id, bat_grp_rty_cnt)
	       	 		IN 
	            		(SELECT bat_grp_log_id, MAX(bat_grp_rty_cnt) FROM bat_grp_log GROUP BY (bat_grp_log_id))
				<if test="log.batGrpLogId != null">
				AND
					bat_grp_log_id like '%'||#{log.batGrpLogId}||'%'	
				</if>		
				<if test="log.batGrpNm != null">
				AND
					bat_grp_nm like '%'||#{log.batGrpNm}||'%'	
				</if>		
				<if test="log.batGrpStCd != null">
					AND
						bat_grp_st_cd like '%'||#{log.batGrpStCd}||'%'	
				</if>	
				<if test = "log.batBgngDtStart != null and log.batBgngDtEnd != null and log.batEndDtStart != null and log.batEndDtEnd != null">	
					<if test="log.batBgngDtStart != '' and log.batBgngDtEnd != ''">
						AND
							to_char(bat_bgng_dt, 'yyyy-mm-dd hh24:mi') between #{log.batBgngDtStart} and #{log.batBgngDtEnd}	
					</if>		        	
					<if test="log.batBgngDtStart != '' and log.batBgngDtEnd == ''">
						AND
							to_char(bat_bgng_dt, 'yyyy-mm-dd hh24:mi') &gt;= #{log.batBgngDtStart}	
					</if>		        	
					<if test="log.batBgngDtStart == '' and log.batBgngDtEnd != ''">
						AND
							to_char(bat_end_dt, 'yyyy-mm-dd hh24:mi') &lt;= #{log.batBgngDtEnd}	
					</if>
					<if test="log.batEndDtStart != '' and log.batEndDtEnd != ''">
						AND
							to_char(bat_end_dt, 'yyyy-mm-dd hh24:mi') between #{log.batEndDtStart} and #{log.batEndDtEnd}	
					</if>		        	
					<if test="log.batEndDtStart != '' and log.batEndDtEnd == ''">
						AND
							to_char(bat_end_dt, 'yyyy-mm-dd hh24:mi') &gt;= #{log.batEndDtStart}	
					</if>		        	
					<if test="log.batEndDtStart == '' and log.batEndDtEnd != ''">
						AND
							to_char(bat_end_dt, 'yyyy-mm-dd hh24:mi') &lt;= #{log.batEndDtEnd}	
					</if>
				</if>
				<if test="(log.batBgngDtStart == null and log.batBgngDtEnd == null and log.batEndDtStart == null and log.batEndDtEnd == null) 
						or (log.batBgngDtStart == '' and log.batBgngDtEnd == '' and log.batEndDtStart == '' and log.batEndDtEnd == '')">
					AND
						to_char(l.last_mdfcn_dttm, 'yyyymmdd') >= to_char(sysdate-7, 'yyyymmdd')
				</if>
				ORDER BY
				<choose>
					<when test="log.filter == 'batBgngDtASC'">
						bat_bgng_dt, bat_grp_log_id   				
					</when>
					<when test="log.filter == 'batBgngDtDESC'">
						bat_bgng_dt DESC  				
					</when>
					<when test="log.filter == 'batEndDtASC'">
						bat_end_dt   				
					</when>
					<when test="log.filter == 'batEndDtDESC'">
						bat_end_dt DESC  				
					</when>
					<otherwise> 
	        			bat_grp_log_id DESC
					</otherwise>
				</choose>
				, bat_grp_log_id DESC
		    )
		    WHERE rownum &lt;= #{pager.endRowNo}  
		)
		WHERE rnum &gt;= #{pager.startRowNo} 
	</select>
	
	<select id="getBatPrmLogListByGrpLog" parameterType="map" resultType="BatPrmLog">
		SELECT 
			pl.bat_grp_log_id as batGrpLogId,
			pl.bat_grp_rty_cnt as batGrpRtyCnt,
			pl.bat_prm_id as batPrmId,
			pl.param as param,
			pl.bat_prm_st_cd as batPrmStCd,
			pl.rslt_msg as rsltMsg,
			pl.bat_bgng_dt as batBgngDt,
			pl.bat_end_dt as batEndDt,
			pl.excn_ord as excnOrd,
			p.bat_prm_nm as batPrmNm,
			p.param as defaultParam
		FROM
			bat_prm_log pl
		JOIN
			bat_prm p
		ON
			pl.bat_prm_id = p.bat_prm_id
		WHERE
			bat_grp_log_id = #{batGrpLogId}
		AND
			bat_grp_rty_cnt = #{batGrpRtyCnt}		
		ORDER BY
			pl.excn_ord			
	</select>
	
	<select id="getBatGrpLogSeq" resultType="String">
		SELECT 'BGL'||LPAD(SEQ_BAT_GRP_LOG.NEXTVAL, 8, '0') FROM DUAL
	</select>
	
	<select id="getCountJob" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM bat_grp_log 
		WHERE 
				TO_CHAR(bat_bgng_dt,'YY/MM/DD') = #{date}
			AND
				bat_grp_st_cd = #{code}
	</select>
	
	<select id="getAllCountJob" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM bat_grp_log 
		WHERE 
				TO_CHAR(bat_bgng_dt,'YY/MM/DD') = #{date}
	</select>
	
	<select id="getBatGrpLogListByDate" parameterType="String" resultType="BatGrpLog">
		SELECT 
			l.bat_grp_log_id as batGrpLogId,
			l.bat_grp_id as batGrpId,
			b.bat_grp_nm as batGrpNm,
			l.bat_grp_rty_cnt as batGrpRtyCnt,
			l.bat_grp_st_cd as batGrpStCd,
			l.bat_bgng_dt as batBgngDt,
			l.bat_end_dt as batEndDt
		FROM
			bat_grp_log l
		JOIN
			bat_grp b
		ON
			l.bat_grp_id = b.bat_grp_id
		WHERE
			to_char(l.bat_bgng_dt, 'yyyy-mm-dd') = #{date}							
	</select>
	
	<select id="getBatPrmLogListByGrpIdAndDate" parameterType="map" resultType="BatPrmLog">
		SELECT
			pl.bat_grp_log_id as batGrpLogId,
			pl.bat_grp_rty_cnt as batGrpRtyCnt,
			pl.bat_prm_id as batPrmId,
			p.bat_prm_nm as batPrmNm,
			pl.param as param,
			pl.bat_prm_st_cd as batPrmStCd,
			pl.bat_bgng_dt as batBgngDt,
			pl.bat_end_dt as batEndDt 
		FROM
			bat_prm_log pl
		JOIN
			bat_grp_log gl
		ON
			(pl.bat_grp_log_id = gl.bat_grp_log_id and pl.bat_grp_rty_cnt = gl.bat_grp_rty_cnt) 
		JOIN
			bat_grp bg 
		ON
			gl.bat_grp_id = bg.bat_grp_id 
		JOIN
			bat_prm p
		ON
			pl.bat_prm_id = p.bat_prm_id		
		WHERE
			bg.bat_grp_id = #{batGrpId}
		AND
			to_char(gl.bat_bgng_dt, 'yyyy-mm-dd') = #{date}			
	</select>
	
	<select id="getStcdByGrpLogId" parameterType="String" resultType="String">
		SELECT 
			bat_grp_st_cd as batGrpStCd
		FROM
			bat_grp_log
		WHERE
			bat_grp_log_id = #{batGrpLogId}
		AND
			bat_grp_rty_cnt = (select max(bat_grp_rty_cnt) from bat_grp_log where bat_grp_log_id = #{batGrpLogId})			
	</select>
</mapper>